@model StoreMVC.Models.ManagerCRVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ManagerIndexVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerLocId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerLocId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { email = Model.ManagerEmail }) |
    @Html.ActionLink("Logout", "Logout", new { email = Model.ManagerEmail }) |
    <a asp-action="Index">Back to List</a>
</div>
