@model IEnumerable<StoreMVC.Models.ManagerIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Manager List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManagerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerLocId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerLocId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { email = item.ManagerEmail }) |
                @Html.ActionLink("Details", "Details", new { email = item.ManagerEmail }) |
                @Html.ActionLink("Delete", "Delete", new { email = item.ManagerEmail })
            </td>
        </tr>
}
    </tbody>
</table>
