@using Microsoft.AspNetCore.Http
@model IEnumerable<StoreMVC.Models.InvLineItemIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Context.Session.GetString("boolManager") == "True")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                @* <th>
                        @Html.DisplayNameFor(model => model.InventoryId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProdName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProdPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProdBrandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.InventoryId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdBrandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { invId = item.InventoryId, prodId = item.ProductId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Context.Session.GetString("boolManager") == "False")
{
    <table class="table">
        <thead>
            <tr>
                @* <th>
                        @Html.DisplayNameFor(model => model.InventoryId)
                    </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>*@
                <th>
                    Item
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProdPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProdBrandName)
                </th>
                <th>
                    Stock
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.InventoryId)
                        </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdBrandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                    <td>
                        | @Html.ActionLink("Details", "Details", new { id = item.Id, prodId = item.ProductId  }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

