@model IEnumerable<StoreMVC.Models.LocIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocPhone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { name = item.LocName }) |
                @Html.ActionLink("Details", "Details", new { name = item.LocName }) |
                @Html.ActionLink("Delete", "Delete", new { name = item.LocName })
            </td>
        </tr>
}
    </tbody>
</table>
